#expected_dates_data
{
    padding-top: 10px;
}
.expected_dates_table {
    border-collapse: collapse;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.expected_dates_table td,
.expected_dates_table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center !important;
}

.expected_dates_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.expected_dates_table tr:hover {
    background-color: #ddd;
}

.expected_dates_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2271b1;
    color: white;
}